includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - inc/common/licence-status.php
        - includes/core/class-ufsc-renewal-service.php
        - includes/front/class-ufsc-stats.php
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    scanFiles:
        - inc/common/fighter-level.php
        - includes/core/class-sql.php
        - includes/core/class-ufsc-category-repository.php
        - includes/core/class-ufsc-identifier-resolver.php
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
